APP_KEY=change_this_to_a_long_random_secret
PORT=8000

MJ_APIKEY_PUBLIC=mailjet_public_key
MJ_APIKEY_PRIVATE=mailjet_private_key

DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=localcloud
DB_USER=root
DB_PASSWORD=
DB_MIGRATE=false
DB_SEED=false